server {
    listen 443 ssl;
    server_name yourFrontendDomain.name;

    ssl_certificate     /route/to/your/frontend/certificate/fullchain.pem;
    ssl_certificate_key /route/to/your/frontend/certificate/privkey.pem;

    root /route/to/your/nginx/config;

    location / {
        try_files $uri /index.html; #if you will use SPA
    }
}

server {
    listen 80;
    server_name yourFrontendDomain.name;

    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    server_name yourBackendDomain.name;

    ssl_certificate     /route/to/your/backend/certificate/fullchain.pem;
    ssl_certificate_key /route/to/your/backend/certificate/privkey.pem;

    location / {
        proxy_pass http://yourBackendHost:port;

        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;

        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
    }
}

server {
    listen 80;
    server_name yourBackendDomain.name;

    return 301 https://$host$request_uri;
}
